<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="genres-sidebar table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>余裕があれば実装</td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <div class="products-index">
        <h1>商品一覧 (全<%= @products.count %>件)</h1>
        <div class="products-index-items">
          <% @products.each do |product| %>
            <div class="products-index-item">
              <%= attach_image_tag products, :product_image, :fill, 100, 200, format: "jpeg", fallback: "no_image_kuma.jpg" %><br>
              <p><%= products.name %></p>
              <p><%= products.base_price %> (税抜)</p>
            </div>
          <% end %>
          <p class="text-center">kaminariページネーション実装</p>
        </div>
      </div>
    </div>
  </div>
</div>