<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>余裕があれば実装</td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <div class="top-info mb-3">
        <div class="top-info-image">
        </div>
      </div>
      <div class="new-products">
        <h1>新着商品</h1>
        <div class="new-products-items">
        </div>
      </div>
    </div>
  </div>
</div>
