<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="genres-sidebar table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>余裕があれば実装</td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <div class="top-info mb-3">
        <div class="top-info-image">
        </div>
      </div>
      <div class="new-products">
        <h1>新着商品</h1>
        <div class="new-products-items">
          <% @products.last(4).each do |product| %>
            <div class="new-products-item">
             <br>
              <p><%= product.name %></p>
              <p><%= product.base_price %> (税抜)</p>
            </div>
          <% end %>
          <p class="text-right">
            <%= link_to "全ての商品を見る", products_path, class:"text-right" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>