<h1>注文履歴詳細_kuma3</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <p>注文情報</p>
      <table class="table">
        <tr>
          <td>注文日</td>
          <td>day data</td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>delivery data</td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td>how data</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        
      </table>
    </div>
    <div class="col-6">
      <p>請求情報</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <p>注文内容</p>
    </div>
  </div>
</div>