<h1>注文履歴詳細_kuma3</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <p>注文情報</p>
    </div>
    <div class="col-6">
      <p>請求情報</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <p>注文内容</p>
    </div>
  </div>
</div>